{% extends '@App/layout.html.twig' %}
{% block javascripts %}

$(document).ready(function() {
    $("#")
{% endblock %}

{% block body %}
    <div class="starter-template">
        <h1><center>Прокат автомобилей</center></h1>
    </div>

    {{ form(prokat_form) }}




{% endblock %}

{% block title %}Главная{% endblock%}